@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root{
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #17a2b8;
	--primary-green: #139140;
	--active-green: #31a55c;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
	--dark-red: #da2f2f;
	--yellow: #ffc107;
	--purple: #6f42c1;
	--glass: rgba(23,42,58,0.03);
	--muted: #64748b;
}

* {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}







/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: var(--primary-green);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--light);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--primary-green);
	transition: all .3s ease;
	margin: 20px;
}
#sidebar .brand .title-header {
	display: flex;
	align-items: center;
	width: 100%;
}
#sidebar .brand .title-header .title-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 35%;
	width: 36px;
	height: 36px;
	background-color: var(--active-green);
	margin-right: 10px;
}
#sidebar .brand .title-header .title-logo p {
	font-size: 20px;
}
#sidebar .brand .title-header .title-title strong{
	font-size: 16px;
	opacity: 1;
}
#sidebar .brand .subtitle p,
#sidebar .brand .title-title p {
	font-size: 12px;
	opacity: 0.95;
}
#sidebar .brand .subtitle {
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: start;
}
#sidebar.hide .brand {
	margin: 20px 5px;
	width: 100%;
}
#sidebar.hide .brand .title-header {
	display: flex;
	justify-content: center;
	margin: 0;
}
#sidebar.hide:hover .brand .title-header {
	justify-content: start;
}
#sidebar.hide:hover .brand {
	margin: 20px;
}
#sidebar.hide .brand .subtitle,
#sidebar.hide .brand .title-title {
	display: none;
}
#sidebar.hide:hover .brand .subtitle,
#sidebar.hide:hover .brand .title-title {
	display: block;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: var(--light);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: var(--active-green);
	transform: translateX(8px);
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--active-green);
	color: var(--light);
}
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--light);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
	display: block;
}
#sidebar.hide .divider {
	text-align: center;
	display: none;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--primary-green);
}
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: var(--grey);
	padding: 20px;
	border-radius: 10px;
}
#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: var(--primary-green);
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
	margin:15px;
}
#sidebar .btn-upgrade:hover {
	background: var(--dark-blue);
}
#sidebar .btn-log-out {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: var(--light);
	background: #ee4444;
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}
#sidebar .btn-log-out:hover {
	background: var(--dark-red);
}
#sidebar .ads .wrapper p {
	font-size: 12px;
	color: var(--dark-grey);
	text-align: center;
}
#sidebar .ads .wrapper p span {
	font-weight: 700;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: white;
	border-radius: 5px;
	border: 1px solid var(--grey);
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--primary-green), 0 0 0 4px var(--light-green);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color: var(--dark);
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
/* NAVBAR */



/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .subtitle {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: var(--primary-green);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .info-data .card-one {
	background: var(--blue);
}
main .info-data .card-two {
	background: var(--green);
}
main .info-data .card-three {
	background: var(--yellow);
}
main .info-data .card-four {
	background: var(--light-blue);
}
main .info-data .card-five {
	background: var(--purple);
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: 55px;
	font-weight: 600;
}
main .card .head p {
	font-size: 18px;
}
main .card .head .icon {
	font-size: 20px;
	color: var(--green);
}
main .card .head .icon.down {
	color: var(--red);
}
main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: var(--grey);
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--primary-green);
	width: var(--value);
}
main .card .label {
	font-size: 14px;
	font-weight: 700;
}
main .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}
main .data .content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
main .content-data .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
main .content-data .head h3 {
	font-size: 20px;
	font-weight: 600;
}
main .content-data .head .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .content-data .head .menu .icon {
	cursor: pointer;
}
main .content-data .head .menu-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	width: 140px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	padding: 10px 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
main .content-data .head .menu-link.show {
	top: 100%;
	opacity: 1;
	pointer-events: visible;
}
main .content-data .head .menu-link a {
	display: block;
	padding: 6px 16px;
	font-size: 14px;
	color: var(--dark);
	transition: all .3s ease;
}
main .content-data .head .menu-link a:hover {
	background: var(--grey);
}
main .content-data .chart {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
	display: none;
}

main .chat-box {
	width: 100%;
	max-height: 360px;
	overflow-y: auto;
	scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
	display: none;
}
main .chat-box .day {
	text-align: center;
	margin-bottom: 10px;
}
main .chat-box .day span {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 20px;
	background: var(--light-blue);
	color: var(--primary-green);
	font-size: 12px;
	font-weight: 600;
}
main .chat-box .msg img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}
main .chat-box .msg {
	display: flex;
	grid-gap: 6px;
	align-items: flex-start;
}
main .chat-box .profile .username {
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 6px;
}
main .chat-box .profile .time {
	font-size: 12px;
	color: var(--dark-grey);
}
main .chat-box .chat p {
	font-size: 14px;
	padding: 6px 10px;
	display: inline-block;
	max-width: 400px;
	line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
	border-radius: 0 5px 5px 5px;
	background: var(--primary-green);
	color: var(--light);
}
main .chat-box .msg.me {
	justify-content: flex-end;
}
main .chat-box .msg.me .profile {
	text-align: right;
}
main .chat-box .msg.me p {
	background: var(--grey);
	border-radius: 5px 0 5px 5px;
}
main form {
	margin-top: 6px;
}
main .form-group {
	width: 100%;
	display: flex;
	grid-gap: 10px;
}
main .form-group input,
.container-top div input,
.container-top div select,
td .form-group,
div .form-group,
#modalBuaSPP .modal-box .modal-body div .form-group {
	flex-grow: 1;
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: white;
	border: 1px solid var(--grey);
	transition: all .3s ease;
	width: 100%;
}
main .form-group input:focus,
.container-top div input:focus,
.container-top div select:focus,
td .form-group:focus,
div .form-group:focus,
#modalBuaSPP .modal-box .modal-body div .form-group {
	box-shadow: 0 0 0 1px var(--primary-green), 0 0 0 4px var(--light-green);
}
main .btn-send {
	padding: 0 16px;
	background: var(--primary-green);
	border-radius: 5px;
	color: var(--light);
	cursor: pointer;
	border: none;
	transition: all .3s ease;
}
main .btn-send:hover {
	background: var(--dark-blue);
}
.list-content li {
	padding: 10px 0;
	font-size: 16px;
}
.panel { 
	background:var(--light); 
	border-radius:12px; 
	padding:18px; 
	box-shadow:0 6px 20px rgba(11,20,12,0.04); 
	border:1px solid var(--glass); 
	margin-top: 20px;
}
.muted { 
	color:var(--muted); 
	font-size:13px; 
}
.btn { 
	padding:10px 14px; 
	border-radius:10px; 
	border:0; 
	cursor:pointer; 
	font-weight:700; 
}
.btn-primary { 
	background:var(--primary-green); 
	color:white; 
	box-shadow: 0 6px 18px rgba(16,185,129,0.12); 
}
.btn-primary:hover { 
	background:var(--active-green); 
	transform:translateY(-1px); 
}
.space-between { 
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* ====== TABLE WRAPPER ====== */
[style*="background:var(--card)"] {
    background: #ffffff !important;
    border: 1px solid #e5e7eb !important;
    padding: 8px !important;
    border-radius: 12px !important;
}

/* ====== TABLE ====== */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

thead {
    background: #f9fafb;
}

thead th {
    text-align: left;
    padding: 12px;
    color: #6b7280;
    font-weight: 600;
    border-bottom: 1px solid #e5e7eb;
}

/* ====== ROWS ====== */
tbody tr {
    border-bottom: 1px solid #e5e7eb;
}

tbody tr:last-child {
    border-bottom: none;
}

tbody td {
    padding: 12px;
}

/* ====== BUTTONS INSIDE TABLE ====== */
.btn-ghost {
    background: transparent;
    color: #4b5563;
    border-radius: 8px;
    padding: 6px 12px;
	border: 1px solid #e5e7eb;
}

.btn-danger {
    background: #ef4444;
    color: white;
    border-radius: 8px;
    padding: 6px 12px;
}
.container-top {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
}
.container-top div {
	width: 49%;
}
.bukti-bayar {
	width: 50px;
	height: 50px;
	border-radius: 20%;
}
.bukti-bayar:hover{
	cursor: pointer;
}
.container-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
	backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    background: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    animation: fadeIn 0.2s ease;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.btn-close {
    background: #eee;
    padding: 6px 10px;
    border-radius: 6px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

.modal-body .container div .input{
	width: 100%;
}

.modal-body .container div{
	width: 49%;
}

.modal-body .container{
	display: flex;
	justify-content: space-between;
}
.modal-overlay-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(5px);
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    background: transparent;
    width: 380px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.modal-box-photo img {
    width: 100%;
    border-radius: 8px;
}

.modal-btn-photo {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
	font-size: 50px;
}
.close-photo{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	margin: 20px;
}
.details p{
	margin-bottom: 15px;
}

.info-warning{
	background:#fff3cd;
	color:#856404;
	padding:2px 6px;
	border-radius:5px;
}

.info-success{
	background:#d4edda;
	color:#155724;
	padding:2px 6px;
	border-radius:5px;
}

.btn-spp {
	background:#007bff;
	color:white;
	border:none;
	padding:5px 10px;
	border-radius:5px;
	cursor:pointer;
}


/* MAIN */
/* CONTENT */






@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}
